<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add New User</title>
    </head>
    <body>
        <h1>Add New User</h1>
        <form action="{{ path('user_new') }}" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <label for="roles">Roles (comma separated):</label>
                <input type="text" id="roles" name="roles">
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
        <a href="{{ path('user_index') }}">Back to Users</a>
    </body>
</html>
